<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href ="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
 <div class="container-fluid"></div>
 <nav class="navbar navbar-expand-lg" style="background-color:pink;" >

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/logo2 - copia.png" alt="" width="70" height="64">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  
                  <a href="Login.html" class="btn btn-success"style="background:pink">Inicio</a>
              </li>
              <li class="nav-item">
                  <a href="detalleproduc.html" class="btn btn-success"style="background:pink">Productos</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Deportivos</a></li>
                      <li><a class="dropdown-item" href="#">Zapatillas</a></li>
                      <li><a class="dropdown-item" href="#">Botines</a></li>
                      <li><a class="dropdown-item" href="#">Tacos</a></li>
                      <li><a class="dropdown-item" href="#">Valerinas y Sandalias</a></li>
                    
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                     Categoria
                     
                  </a>
                  <ul class="dropdown-menu">
                     
                     
                      <a href="Damas.html" class="btn btn-primary"style="background:pink">Damas</a>
                      <a href="Caballeros.html" class="btn btn-primary"style="background:pink">Caballeros</a>
                      <a href="Niñas.html" class="btn btn-primary"style="background:pink">Niñas</a><br>
                      <a href="Niños.html" class="btn btn-primary"style="background:pink">Niños</a>
                    
                  </ul>
              </li>
          </ul>
          <form class="d-flex col-6" role="Buscar">
              <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            <div class="col-2">
      </div>
  </div>
</nav>
  <div class="cantainer_fluid  m-0 p_3 mt_4 row ">
    <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
     <div class="card" style="min-height: 100px;">
         <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e4565de7272a4081b0e3570624664f2b_9366/Zapatillas_adidas_VL_Court_3.0_Blanco_IF4466_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
         <div class="card-body">
           <h5 class="card-title">ZAPATILLAS</h5>
           <p class="card-text">Incorpora un forro interno para  comodidad y un acolchado ligero  con libertad  La suela de caucho vulcanizada se ve genial.</p>
           <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
           
         </div>
       </div>
     </div>
     
     <div class="carousel-item" data-bs-interval="2000"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
         <div class="card" style="min-height: 200px;">
             <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/2e6f04894c67496ba1b56468cc39db4b_9366/Zapatillas_Adistar_3_Blanco_IE8222_HM1.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
             <div class="card-body">
               <h5 class="card-title">ZAPATILLA</h5>
               <p class="card-text">  Diseñadas para carreras de larga distancia, incorporan una mediasuela REPETITOR para una máxima amortiguación y una sensación.</p>
               <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
             
             </div>
           </div>
         </div>
       
            <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
             <div class="card" style="min-height: 200px;">
                 <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ff67e3405f7f46eca232d3aa4e0b78e9_9366/Zapatillas_Ultraboost_5_Blanco_ID8810_HM1.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                 <div class="card-body">
                   <h5 class="card-title">ZAPATILLA</h5>
                   <p class="card-text"> Siente un impulso extraordinario en cada zancada con estas zapatillas de running Ultraboost creadas por adidas La mediasuela .</p>
                   <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                 </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                <div class="card" style="min-height: 200px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d7b3f89831c24619920ca9b4016580b7_9366/Sandalias_Adilette_Aqua_Blanco_F35539_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                    <div class="card-body">
                      <h5 class="card-title">ZAPATILLA</h5>
                      <p class="card-text"> Relájate después de la sesión de piscina con estas sandalias ideales para la ducha. Su diseño sencillo muestra el auténtico legado de adidas.</p>
                      <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                  <div class="card" style="min-height: 200px;">
                      <img src="https://assets.adidas.com/images/w_320,f_auto,q_auto,fl_lossy,c_fill,g_auto/020ed5e8b9d14163954d09015c60acb6_9366/chimpunes-predator-league-terreno-firme.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                      <div class="card-body">
                        <h5 class="card-title">CHIMPUN</h5>
                        <p class="card-text">Los Predator se diseñaron con un único objetivo: anotar goles. Equipados con la última tecnología para anotar goles, prepárate para llevar tu fuerza</p>
                        <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                      </div>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                     <div class="card" style="min-height: 200px;">
                         <img src="https://assets.adidas.com/images/h_2000,f_auto,q_auto,fl_lossy,c_fill,g_auto/3552d154928f4bae8373272303ddecef_9366/Zapatillas_adidas_VL_Court_3.0_Blanco_ID6288_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                         <div class="card-body">
                           <h5 class="card-title">ZAPATILLA</h5>
                           <p class="card-text"> Luce las icónicas 3 Tiras sobre un fondo suave de gamuza. Estas zapatillas adidas son refinadas y cómodas. La parte superior de gamuza. </p>
                           <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                      <div class="card" style="min-height: 200px;">
                          <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/421756b633a84c3580a4ae8901801435_9366/Zapatillas_adidas_Grand_Court_Cloudfoam_Comfort_Negro_GW9196_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                          <div class="card-body">
                            <h5 class="card-title">ZAPATILLA</h5>
                            <p class="card-text">Para pies delgados recomendamos comprar la talla inferior. Revisa la equivalencia,  Si este artículo es personalizado, no aplica en nuestra política.</p>
                            <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                          </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                         <div class="card" style="min-height: 200px;">
                             <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/69084b3c19e44141bbfd9f42d6a05c6d_9366/Chimpunes_Multiterreno_F50_Club_Blanco_IE0611_22_model.jpg"
                              class="card-img-top w-200" alt="..."style="height:700 ;">
                             <div class="card-body">
                               <h5 class="card-title">CHIMPUN </h5>
                               <p class="card-text"> . Creados para desbloquear todo el potencial de tu aceleración, movimiento y velocidad. Estos chimpunes adidas  presentan una parte superior.</p>
                               <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                             </div>
                           </div>
                         </div>
                            
</body>

<div id="footer" class="col-12" style="background: rgb(138, 134, 136); height: 150px;">
<img src="img/llamad.png" class="img-thumbnail" alt="llamad.png"width="150px" height="150px"> 
<button type="button" class="btn btn-primary"height="150px"style="background:pink" >  972953479</button>
<button type="button" class="btn btn-secondary" style="background:pink" >  Llamar</button>
<img src="img/mess.png" class="img-thumbnail" alt="mess.png"width="80px" height="80px">
<button type="button" class="btn btn-success" style="background:pink" >  facebook</button>
<button type="button" class="btn btn-danger" style="background:pink" >  calzados.com</button>
<img src="img/waa.png" class="img-thumbnail" alt="waa.png"width="80px" height="80px">
<button type="button" class="btn btn-warning" style="background:pink" >  WhatsApp</button>
<button type="button" class="btn btn-info" style="background:pink" >   Enviar</button>


</div>

</div>
</div>
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>