<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href ="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
 <div class="container-fluid"></div>
 <nav class="navbar navbar-expand-lg" style="background-color:pink;" >

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/logo2 - copia.png" alt="" width="70" height="64">
          </a>
        </a>
        <a href="Login.html" class="btn btn-success"style="background:pink">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="detalleproduc.html" class="btn btn-success"style="background:pink">Productos</a>
              <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Deportivos</a></li>
              <li><a class="dropdown-item" href="#">Zapatillas</a></li>
              <li><a class="dropdown-item" href="#">Botines</a></li>
              <li><a class="dropdown-item" href="#">Tacos</a></li>
              <li><a class="dropdown-item" href="#">Valerinas y Sandalias</a></li>
           
            </ul>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                 Categoria
                 
              </a>
              <ul class="dropdown-menu">
              
                <a href="Damas.html" class="btn btn-primary"style="background:pink">Damas</a>
                <a href="Caballeros.html" class="btn btn-primary"style="background:pink">Caballeros</a>
                <a href="Niñas.html" class="btn btn-primary"style="background:pink">Niñas</a><br>
                <a href="Niños.html" class="btn btn-primary"style="background:pink">Niños</a>
                
              </ul>
            </li>
        </ul>
          <form class="d-flex col-6" role="Buscar">
            <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
          <div class="col-2">
          </div>
        </div>
          </div>
         
                </div>
                 
        </div>
      </div>
    </nav>
  <div class="cantainer_fluid  m-0 p_3 mt_4 row ">
    <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
     <div class="card" style="min-height: 100px;">
         <img src="https://assets.adidas.com/images/w_303,h_303,f_auto,q_auto,fl_lossy,c_fill,g_auto/47247477ce6e434cbf36a59f2be285b8_9366/zapatillas-ozgaia.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
         <div class="card-body">
           <h5 class="card-title">ZAPATILLAS</h5>
           <p class="card-text">Tus zapatillas favoritas están aquí con un look llamativo y proporciones aún más audaces. Conoce las zapatillas adidas Ozgaia.</p>
           
           <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
         </div>
        
          
         
    
       </div>
     </div>
     
     <div class="carousel-item" data-bs-interval="2000"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
         <div class="card" style="min-height: 200px;">
             <img src="img/imag12.png" class="card-img-top w-200" alt="..."style="height:700 ;">
             <div class="card-body">
               <h5 class="card-title">ZAPATILLA</h5>
               <p class="card-text"> El forro interno textil y la suela de caucho le ponen el toque final a un modelo que combina diseño clásico con sensibilidad moderna.</p>
               <a href="#" class="btn btn-primary" style="background-color:rgb(224, 23, 23);">COMPRAR</a>
             
             </div>
           </div>
         </div>
       
            <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
             <div class="card" style="min-height: 200px;">
                 <img src="img/imag13.png" class="card-img-top w-200" alt="..."style="height:700 ;">
                 <div class="card-body">
                   <h5 class="card-title">ZAPATILLA</h5>
                   <p class="card-text">Estas zapatillas adidas clásicas tienen una suela de caucho que le inyecta suavidad a tus pasos y no marca los pisos de madera.</p>
                   <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                 </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                <div class="card" style="min-height: 200px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d6906feea7994f518ff0c8b295a79a5f_9366/Zapatillas_adidas_Court_Plataforma_Blanco_IG8609_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                    <div class="card-body">
                      <h5 class="card-title">ZAPATILLA</h5>
                      <p class="card-text"> Eleva tu estilo urbano con estas zapatillas adidas Court con plataforma Estas zapatillas lucen un exterior textil estilizado .</p>
                      <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                  <div class="card" style="min-height: 200px;">
                      <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/b01cee7575dc48f4834f52a6c1335c14_9366/Zapatillas_de_Running_Adizero_SL2_Negro_IF6769_HM1.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                      <div class="card-body">
                        <h5 class="card-title">ZAPATILLA</h5>
                        <p class="card-text">Experimenta la emoción de batir tus propios récords con un calzado tan rápido como tú. Estas zapatillas de running adidas Adizero </p>
                        <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                      </div>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                     <div class="card" style="min-height: 200px;">
                         <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a8ac8b256c744edaa97e41d27f2bdc8c_9366/Zapatillas_Nizza_Platform_Mid_Negro_ID7260_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                         <div class="card-body">
                           <h5 class="card-title">ZAPATILLA</h5>
                           <p class="card-text"> Las zapatillas de básquet de los años 70 irrumpieron para inspirar estilo a la hora de vestir todos los días  suavidad  eleva la parte superior. </p>
                           <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                         </div>
                       </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                      <div class="card" style="min-height: 200px;">
                          <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d0d1c9c6b08c4a91ac71433157701335_9366/Zapatillas_de_Running_Switch_Move_Rosado_IF9342_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                          <div class="card-body">
                            <h5 class="card-title">ZAPATILLA</h5>
                            <p class="card-text">Estas zapatillas adidas amortiguan tus pasos gracias a la liviana mediasuela de EVA. Están diseñadas para ofrecer una pisada suave.</p>
                            <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                          </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                         <div class="card" style="min-height: 200px;">
                             <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/f009131c7b3141e69d45a04333a2b12d_9366/Zapatillas_adidas_Grand_Court_Platforma_Blanco_IE3620_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                             <div class="card-body">
                               <h5 class="card-title">ZAPATILLA</h5>
                               <p class="card-text"> Con estas zapatillas adidas prácticamente puedes sentir la energía de un partido de tenis. Tienen sus raíces en el estilo deportivo.</p>
                               <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                             </div>
                           </div>
                         </div>
                            
</body>

<div id="footer" class="col-12" style="background: rgb(138, 134, 136); height: 150px;">
<img src="img/llamad.png" class="img-thumbnail" alt="llamad.png"width="150px" height="150px"> 
<button type="button" class="btn btn-primary"height="150px"style="background:pink" >  972953479</button>
<button type="button" class="btn btn-secondary" style="background:pink" >  Llamar</button>
<img src="img/mess.png" class="img-thumbnail" alt="mess.png"width="80px" height="80px">
<button type="button" class="btn btn-success" style="background:pink" >  facebook</button>
<button type="button" class="btn btn-danger" style="background:pink" >  calzados.com</button>
<img src="img/waa.png" class="img-thumbnail" alt="waa.png"width="80px" height="80px">
<button type="button" class="btn btn-warning" style="background:pink" >  WhatsApp</button>
<button type="button" class="btn btn-info" style="background:pink" >   Enviar</button>


</div>

</div>
</div>
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>