<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid"></div>
 <nav class="navbar navbar-expand-lg" style="background-color:pink;" >

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/logo2 - copia.png" alt="" width="70" height="64">
          </a>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Productos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Deportivos</a></li>
                                <li><a class="dropdown-item" href="#">Zapatillas</a></li>
                                <li><a class="dropdown-item" href="#">Botines</a></li>
                                <li><a class="dropdown-item" href="#">Tacos</a></li>
                                <li><a class="dropdown-item" href="#">Balerinas y sandalias</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex col-6" role="Buscar">
                        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                      </form>
                      <div class="col-2">
            
                </div>
            </div>
        </nav>
        <div id="detalle_producto" class="col-12 row m-0 container-fluid p-0">
            <h4 class="text-center">Detalles de Producto</h4>
            <div id="imagenes_productos" class="col-6 row m-0">
                <div id="imagen_principal" class="col-12 p-2" style="background: rgb(235, 168, 212); height: 600px;">
                    <img src="img/imagen3.png"
                        alt="" class="w-100 h-100">
                </div>
                <div class="col-4" style="background: white; height: 150px;">
                    <img src="img/zapatillas2.png"
                        alt="" class="w-100 h-100">
                </div>
                <div class="col-4" style="background: white; height: 150px;">
                    <img src="img/zapatilla1.png"
                        alt="" class="w-100 h-100">
                </div>
                <div class="col-4" style="background:white; height: 150px;">
                    <img src="img/zapatillas3.png"
                        alt="" class="w-100 h-100">
                </div>

            </div>
            <div id="detalles" class="col-6 p-2" style="background: rgb(142, 210, 236); height: 750px;">
                <h4 class="text-center">Detalles</h4>
                Atrévete a mostrar tu personalidad arrolladora a cada paso que des por la ciudad. Nuestras zapatillas de moda están pensadas para las personas que no se arrugan ante las dificultades de la vida y caminan pisando fuerte en cualquier circunstancia. Con un diseño que sabe combinar a la perfección las tendencias estéticas actuales con la resistencia, funcionalidad y versatilidad que se le debe exigir al calzado deportivo, las zapatillas de adidas son la elección lógica para los que quieren dejar huella.

Independientemente de la actividad que elijas, ya sea caminar, correr o trotar, es importante que uses las zapatillas deportivas o de moda adecuadas para tener toda la comodidad necesaria y vivir con todo el estilo que se adapte a tu personalidad.
            </div>
            <div id="accordionExample" class="accordion col-12 p-2 mb-2" >
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Más detalles del Producto
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>ZAPATILLAS ADIDAS PARA CADA OCASIÓN.</strong> Si eres un deportista consumado y en cada entramiento quieres dar lo mejor de ti, seguramente en adidas encontrarás las zapatillas ideales para correr, para basquet, voley o para entrenamiento, entre otros. Pero también puedes encontrar las zapatillas de moda para tu día a día. Para lucir un estilo urbano o casual lo mejor será contar con zapatos apropiados. No dejes de conocer modelos de adidas como los Falcon, NMD, Forest Grove, Superstar y toda la línea Originals, Yeezy, entre muchos otros.
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ficha Técnica
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>LA IMPORTANCIA DE CORRER O CAMINAR CON ZAPATILLAS CORRECTAS.</strong>Si eres un corredor experimentado o si buscas dar tus primeros pasos caminando o corriendo para entrenar, siempre debes tener en cuenta que es vital para el cuidado de tu cuerpo contar con zapatillas adecuadas que se adapten a tu forma de correr, a tu pisada, tu peso y todos los factores que influyen en tener una buena actividad física.
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <h4 class="text-center">Productos Similares</h4>
        <div id="productos_similares" class="col-12 row p-2 m-0">
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ca0ca89ccf4445e481ef45bed3ce3c9e_9366/Zapatillas_Amplimove_Trainer_Blanco_ID8640_HM1.jpg"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Zapatilla</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">Ya sea que aspires a entrenar como un profesional o simplemente a mejorar tu entrenamiento, estos tenis de entrenamiento adidas te ayudan a liberar tu potencial deportivo.</p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/07add52c5d5146008894e7c7d0e1f73b_9366/RESPONSE_SUPER_W_Blanco_IG1408_01_standard.jpg"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">CHIMPUN</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">Response Super W es un nuevo producto para Mujer de adidas. Te invitamos a ver las imágenes para apreciar más detalles desde diferentes ángulos.</p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/244f924370174619917f2b6cf3932726_9366/Zapatillas_Running_Switch_Run_Blanco_IF9339_01_standard.jpg"
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Zapatilla</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">Fusionando estilo con detalles que evitan las distracciones, la última colección de prendas básicas de running adidas te mantendrá luciendo tan bien como te sientes mientras corres.</p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 700px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/6c526371fa434a3ca37bad6e0080b399_9366/Sandalias_Adilette_Aqua_Rosado_GZ5878_01_standard.jpg "
                        class="card-img-top w-100" alt="..." style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">Zandalias</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">Un estilo icónico para superficies resbaladizas. Estas sandalias de secado rápido presentan una banda superior con las clásicas 3 Tiras.</p>
                        </div><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</body>
<div id="footer" class="col-12" style="background: rgb(138, 134, 136); height: 150px;">
    <img src="img/llamad.png" class="img-thumbnail" alt="llamad.png"width="150px" height="150px"> 
    <button type="button" class="btn btn-primary"height="150px"style="background:pink" >  972953479</button>
    <button type="button" class="btn btn-secondary" style="background:pink" >  Llamar</button>
    <img src="img/mess.png" class="img-thumbnail" alt="mess.png"width="80px" height="80px">
    <button type="button" class="btn btn-success" style="background:pink" >  facebook</button>
    <button type="button" class="btn btn-danger" style="background:pink" >  calzados.com</button>
    <img src="img/waa.png" class="img-thumbnail" alt="waa.png"width="80px" height="80px">
    <button type="button" class="btn btn-warning" style="background:pink" >  WhatsApp</button>
    <button type="button" class="btn btn-info" style="background:pink" >   Enviar</button>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</html>