<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href ="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
 <div class="container-fluid"></div>
 <nav class="navbar navbar-expand-lg" style="background-color:pink;" >

    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="img/logo2 - copia.png" alt="" width="70" height="64">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            
                            <a href="Login.html" class="btn btn-success"style="background:pink">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="detalleproduc.html" class="btn btn-success"style="background:pink">Productos</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Deportivos</a></li>
                                <li><a class="dropdown-item" href="#">Zapatillas</a></li>
                                <li><a class="dropdown-item" href="#">Botines</a></li>
                                <li><a class="dropdown-item" href="#">Tacos</a></li>
                                <li><a class="dropdown-item" href="#">Valerinas y Sandalias</a></li>
                              
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                               Categoria
                               
                            </a>
                            <ul class="dropdown-menu">
                               
                               
                                <a href="Damas.html" class="btn btn-primary"style="background:pink">Damas</a>
                                <a href="Caballeros.html" class="btn btn-primary"style="background:pink">Caballeros</a>
                                <a href="Niñas.html" class="btn btn-primary"style="background:pink">Niñas</a><br>
                                <a href="Niños.html" class="btn btn-primary"style="background:pink">Niños</a>
                              
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex col-6" role="Buscar">
                        <input class="form-control me-2" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                      </form>
                      <div class="col-2">
                </div>
            </div>
        </nav>
  <div class="cantainer_fluid  m-0 p_3 mt_4 row ">
    <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
     <div class="card" style="min-height: 100px;">
         <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a28829119e84f4d8f5fae9000a4d8c9_9366/Zapatillas_Tensaur_Tira_Ajustable_de_Cierre_por_Contacto_Negro_GW6456_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
         <div class="card-body">
           <h5 class="card-title">CHIMPUN</h5>
           <p class="card-text">Estas zapatillas adidas resistentes para bebé tienen tiras regulables de cierre por contacto para mantenerlos en su lugar.</p>
           <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
         </div>
       </div>
     </div>
     
   
        <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
         <div class="card" style="min-height: 200px;">
             <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/795f45401b6548c0bdb1ab2300c254c1_9366/Zapatillas_Superstar_Blanco_EF4842_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
             <div class="card-body">
               <h5 class="card-title">ZAPATILLA</h5>
               <p class="card-text">  Esta versión de la adidas Superstar para peques con estilo presenta la misma silueta clásica que la zapatilla original de los 70.</p>
               <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
             </div>
           </div>
         </div>
       
            <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
             <div class="card" style="min-height: 200px;">
                 <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0dc60a260d06474c8e976705d9aa07c2_9366/Zapatillas_adidas_Originals_x_Disney_Mickey_Superstar_360_Kids_Negro_IF1257_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                 <div class="card-body">
                   <h5 class="card-title">ZAPATILLA</h5>
                   <p class="card-text">Deja que los pies más pequeños entren en la historia y en la magia con estas zapatillas adidas Superstar para bebé.</p>
                   <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                 </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                <div class="card" style="min-height: 200px;">
                    <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ea960c623ad64dd9a691adc8016cfabb_9366/Zapatillas_Hoops_Blanco_GW0442_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                    <div class="card-body">
                      <h5 class="card-title">ZAPATILLA</h5>
                      <p class="card-text">  Estas zapatillas adidas para bebé lucen un exterior liviano de cuero sintético con un look prémium que hace ligeros sus pasos. </p>
                      <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                    </div>
                  </div>
                </div>
               <div class="cantainer_fluid  m-0 p_3 mt_4 row ">
                <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                 <div class="card" style="min-height: 200px;">
                     <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/381915eec87143ae8bd2967f9a036098_9366/Zapatillas_adidas_Disney_Lion_King_Racer_TR23_Ninos_Blanco_IF4075_01_standard.jpg" class="card-img-top w-100" alt="..."style="height:700 ;">
                     <div class="card-body">
                       <h5 class="card-title">ZAPATILLA</h5>
                       <p class="card-text"> Estas zapatillas adidas para bebés son ligeras y ofrecen una gran sujeción,  sea para una tarde combinan para mantener sus pies secos.</p>
                       <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                     </div>
                   </div>
                 </div>
               
                    <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                     <div class="card" style="min-height: 200px;">
                         <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c373aa87076c4a3e8aa0ad7101727a76_9366/ALTASWIM_I_Negro_GV7796_01_standard.jpg" class="card-img-top w-100" alt="..."style="height:700 ;">
                         <div class="card-body">
                           <h5 class="card-title">ZANDALIA</h5>
                           <p class="card-text">Altaswim I es un nuevo producto para Niños de adidas. Te invitamos a ver las imágenes para apreciar más detalles .</p>
                           <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                         </div>
                       </div>
                     </div>
                  
                        <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                         <div class="card" style="min-height: 200px;">
                             <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/d249ab99fecb4a8c9362ad6600baa4e5_9366/Sandalias_Adilette_Negro_GW0344_01_standard.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                             <div class="card-body">
                               <h5 class="card-title">ZANDALIA</h5>
                               <p class="card-text">Inspiradas en las clásicas sandalias Adilete, estas sandalias adidas para niños son perfectas para los momentos de juego .</p>
                               <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                             </div>
                           </div>
                         </div>
                         <div class="col-lg-3 col-md-4 col-sm-6 p-2 ">
                            <div class="card" style="min-height: 200px;">
                                <img src="https://assets.adidas.com/images/w_320,f_auto,q_auto,fl_lossy,c_fill,g_auto/b9a16242cff149759043af630115f3ae_9366/zapatillas-de-senderismo-terrex-hyperhiker-corte-medio.jpg" class="card-img-top w-200" alt="..."style="height:700 ;">
                                <div class="card-body">
                                  <h5 class="card-title">ZAPATILLA</h5>
                                  <p class="card-text"> Estas zapatillas livianas de senderismo adidas mantienen cómodos a los más pequeños de la casa mientras exploran nuevos lugares. </p>
                                  <a href="carrito.html" class="btn btn-success" style="background-color:rgb(224, 23, 23);">Comprar</a>
                                </div>
                              </div>
                            </div>
</body>

<div id="footer" class="col-12" style="background: rgb(138, 134, 136); height: 150px;">
<img src="img/llamad.png" class="img-thumbnail" alt="llamad.png"width="150px" height="150px"> 
<button type="button" class="btn btn-primary"height="150px"style="background:pink" >  972953479</button>
<button type="button" class="btn btn-secondary" style="background:pink" >  Llamar</button>
<img src="img/mess.png" class="img-thumbnail" alt="mess.png"width="80px" height="80px">
<button type="button" class="btn btn-success" style="background:pink" >  facebook</button>
<button type="button" class="btn btn-danger" style="background:pink" >  calzados.com</button>
<img src="img/waa.png" class="img-thumbnail" alt="waa.png"width="80px" height="80px">
<button type="button" class="btn btn-warning" style="background:pink" >  WhatsApp</button>
<button type="button" class="btn btn-info" style="background:pink" >   Enviar</button>


</div>

</div>
</div>
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>